/* 头部开始 */
header{
    width: 100%;
    height: 80px;
    background: #fff;
    position: fixed;
    z-index: 999;
}
.header_center{
    height: 80px;
    padding: 0 135px;
    background: lightgoldenrodyellow;
    margin: 0 auto;
}
.mean{
    display: none;
}
.gouwu{
    display: none;
}
.logo{
    display: block;
    width: 120px;
    height: 44px;
    margin-top: 20px;
    background: yellowgreen;
    float: left;
}
.nav_box{
    width: 375px;
    height: 80px;
    margin-left: 40px;
    float: left;
    display: block;
}
.nav_box li{
    height: 80px;
    margin:0 10px;
    text-align: center;
    float: left;
}
.nav_box li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 80px;
    font-size: 14px;
    color:#684029;
    text-decoration: none;
}
.nav_box li:hover a{
    color: #BB9772;
}
.header_R{
    width: 215px;
    height: 80px;
    float: right;
    text-decoration: none;
    display: block;
}
.dizhi{
    width: 84px;
    height: 80px;
    text-align: center;
    float: left;
}
.dizhi a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color:#684029;
    text-decoration: none;
    line-height: 80px;
}
.dizhi a .iconfont{
    font-size: 14px;
    color:#684029;
    transition: all 1s;
}
.dizhi:hover .iconfont{
    transform: rotate(-30deg);
}
.denglu{
    width: 80px;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 78px;
    text-decoration: none;
}
.denglu a{
    font-size: 14px;
    color:#684029;
    text-decoration: none;
}
.denglu a:hover{
    color: #BB9772;
}
.denglu span{
    font-size: 14px;
    color:#684029;
}
.car{
    width: 40px;
    height: 80px;
    float: left;
    text-align: center;
}
.car a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.car a .iconfont{
    font-size: 20px;
    color: #3E2416;
    line-height: 80px;
    text-decoration: none;
}
/* 头部结束 */
/* banner开始 */
.banner{
    width: 100%;
    height: 580px;
    position: relative;
}
.banner .banner_one{
    display: block;
    width: 100%;
    height: 580px;
    background-image: url('../img/banner2.jpg');
    background-size: 100%,580px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.banner .banner_two{
    display: block;
    width: 100%;
    height: 580px;
    background-image: url('../img/banner1.jpg');
    background-size: 100%,580px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
}
/* banner结束 */
/* 介绍产品 */
.jieshao{
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
}
.four{
    display: block;
    width: calc(100 / 4);
    float: left;
}
.four img{
    display: block;
    width: 100%;
}
/* 新品开始 */
.new{
    width: 100%;
    height: 911px;
    padding: 60px 60px 0;
    box-sizing: border-box;
}
.new_title{
    width: 160px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    margin-left: -16px;
}
.new_title span{
    font-size: 16px;
    color: #724228;
}
.new_title span:first-child{
    font-size: 22px;
    color: #724228;
}
.new_img{
    display: block;
    width: 100%;
    height: 345px;
    margin-top: 20px;
    background: url('../img/xinping1.jpg') no-repeat center center;
    background-size: 100% 345px;
    border: none;
}
.new_img img{
    display: block;
    width: 100%;
    height: 345px;
    border: none;
}
.new_shopping{
    width: 100%;
    height: 365px;
    margin-top: 20px;
    padding: 0 15px;
}
.new_shopping li{
    width: 263px;
    height: 365px;
    margin: 0 8px;
    float: left;
}
.new_shopping li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.new_shopping li a .img_box{
    width: 263px;
    height: 230px;
    background: #FAFAFA;
}
.new_shopping li a .img_box img{
    width: 100%;
    height: 100%;
}
.new_shopping li a h6{
    font-size: 14px;
    color: #000;
    margin-top: 2px;
}
.new_shopping li a p{
    font-size: 14px;
    color: #000;
    margin-top: 2px;
    text-decoration: none;
}
.new_shopping li a .yuan_box{
    width: 263px;
    height: 35px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #BB9772;
}
.new_shopping li a .yuan{
    width: 55px;
    height: 20px;
    border: 1px solid #BB9772;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #BB9772;
    float: left;
    margin-right: 10px;
    border-radius: 10px; 
}
.new_shopping li a .jiage{
    width: 263px;
    height: 43px;
    line-height: 43px;
}
.new_shopping li a .jiage span{
    font-size: 14px;
    color: #BB9772;
    float: left;
}
.new_shopping li a .jiage .jiaru{
    width: 80px;
    padding: 0 10px;
    height: 20px;
    background: #643E28;
    float: right;
    margin-top: 10px;
}
.new_shopping li a .jiage .jiaru span{
    font-size: 12px;
    color: #fff;
    line-height: 20px;
}
/* pc大屏 小于1200px */
@media screen and (max-width: 1200px) {
    .header_center{
        width: 100%;
        padding: 0 100px;
    }
    .logo{
        width: 120px;
        margin-top: 20px;
        background: yellowgreen;
    }
    .nav_box{
        width: 375px;
        height: 80px;
        margin-left: 40px;
        float: left;
        display: block;
    }
    .nav_box li{
        width: auto;
    }
    .header_R{
        width: 215px;
        height: 80px;
        float: right;
        text-decoration: none;
        display: block;
    }
    .banner{
        height: 580px;
    }
    .banner .banner_one{
        height: 580px;
        background-image: url('../img/banner2-2.jpg');
        background-size: 100%,580px;
    }
    .banner .banner_two{
        height: 580px;
        background-image: url('../img/banner1-2.jpg');
        background-size: 100%,580px;
    }
    .jieshao{
        height: 100px;
        margin-top: 20px;
        padding: 0 135px;
    }
    .four{
        height: 100px;
        padding: 0 8px;
    }
    .four img{
        display: block;
        width: 100%;
        height: 100%;
    }
}
/* pc小屏 小于992px和大于1200px*/
@media screen and (max-width: 992px) and (min-width: 1200px){
    .header_center{
        width: 100%;
        padding: 0 30px;
        position: fixed;
        z-index: 999;
    }
    .logo{
        width: 120px;
        margin-top: 20px;
        background: yellowgreen;
    }
    .nav_box{
        width: 375px;
        height: 80px;
        margin-left: 40px;
        float: left;
        display: block;
    }
    .nav_box li{
        width: auto;
    }
    .header_R{
        width: 215px;
        height: 80px;
        float: right;
        text-decoration: none;
        display: block;
    }
    .banner{
        height: 600px;
    }
    .banner .banner_one{
        height: 600px;
        background-image: url('../img/banner2-2.jpg');
        background-size: 100%,600px;
    }
    .banner .banner_two{
        height: 600px;
        background-image: url('../img/banner1-2.jpg');
        background-size: 100%,600px;
    }
    .jieshao{
        height: 120px;
        margin-top: 20px;
        padding: 0 135px;
    }
    .four{
        height: 120px;
        padding: 0 8px;
        margin-bottom: 20px;
    }
    .four img{
        height: 120px;
    }
}
/* 平板 大于768px和小于992px */
@media screen and (min-width: 768px) and (max-width: 992px){
    .header_center{
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 120px;
        background: yellowgreen;
        margin: 0 auto;
        margin-top: 20px;
    }
    .nav_box{
        width: 375px;
        height: 80px;
        margin-left: 40px;
        float: left;
        display: none;
    }
    .nav_box li{
        width: auto;
    }
    .header_R{
        width: 215px;
        height: 80px;
        float: right;
        text-decoration: none;
        display: none;
    }
    .mean{
        width: 50px;
        height: 80px;
        text-align: center;
        display: block;
        float: left;
    }
    .mean a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    .mean a .iconfont{
        font-size: 22px;
        color: #684029;
        line-height: 80px;
    }
    .mean a:hover .iconfont{
        color: #BB9772;
    }
    .gouwu{
        width: 50px;
        height: 80px;
        text-align: center;
        display: block;
        float: right;
    }
    .gouwu a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    .gouwu a .iconfont{
        font-size: 22px;
        color: #684029;
        line-height: 80px;
    }
    .gouwu a:hover .iconfont{
        color: #BB9772;
    }
    .banner{
        height: 570px;
    }
    .banner .banner_one{
        height: 570px;
        background-image: url('../img/banner2-3.jpg');
        background-size: 100%,570px;
    }
    .banner .banner_two{
        height: 570px;
        background-image: url('../img/banner1-3.jpg');
        background-size: 100%,570px;
    }
    .jieshao{
        height: 320px;
        padding: 0 135px;
        margin-top: 10px;
    }
    .four{
        height: 140px;
        padding: 0 8px;
        margin-bottom: 20px;
    }
    .four img{
        height: 140px;
    }
    .new_img{
        padding: 0;
    }
}
/* 移动端  小于768px*/
@media screen and (max-width: 768px){
    .header_center{
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 120px;
        background: yellowgreen;
        margin: 0 auto;
        margin-top: 20px;
    }
    .nav_box{
        width: 375px;
        height: 80px;
        margin-left: 40px;
        float: left;
        display: none;
    }
    .nav_box li{
        width: auto;
    }
    .header_R{
        width: 215px;
        height: 80px;
        float: right;
        text-decoration: none;
        display: none;
    }
    .mean{
        width: 50px;
        height: 80px;
        text-align: center;
        display: block;
        float: left;
    }
    .mean a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    .mean a .iconfont{
        font-size: 22px;
        color: #684029;
        line-height: 80px;
    }
    .mean a:hover .iconfont{
        color: #BB9772;
    }
    .gouwu{
        width: 50px;
        height: 80px;
        text-align: center;
        display: block;
        float: right;
    }
    .gouwu a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    .gouwu a .iconfont{
        font-size: 22px;
        color: #684029;
        line-height: 80px;
    }
    .gouwu a:hover .iconfont{
        color: #BB9772;
    }
    .banner{
        height: 560px;
    }
    .banner .banner_one{
        height: 560px;
        background-image: url('../img/banner2-4.jpg');
        background-size: 100%,580px;
    }
    .banner .banner_two{
        height: 560px;
        background-image: url('../img/banner1-4.jpg');
        background-size: 100%,580px;
    }
    .jieshao{
        height: 700px;
        margin-bottom: 20px;
        padding: 0 135px;
    }
    .four{
        height: 160px;
        padding: 0 8px;
        margin-bottom: 20px;
    }
    .four img{
        height: 160px;
    }
}